#Grass {
  position: relative;
  width: 330px;
  height: 330px;
  margin: 0 auto;
  background: url(../../../public/grass.png);
  background-size: 20%;
  background-repeat: repeat;
}

#Pikachu {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url(../../../public/pikachu.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.jumping {
  animation: jump 1s;
}

@keyframes jump {
  0% {
    translate: 0% 0%;
  }
  50% {
    translate: 0% -1000%;
  }
  100% {
    translate: 0% 0%;
  }
}
